body {
    background-image: url(images/fundo.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: top center;
    background-color: #CCC;
}
#topo {
    background-color: #8A0538;
    margin-bottom: 10px;
}
#logo {
    width: 7%;
    background-color: #FFF;
    border-radius: 5px;
    padding: 0px 5px;
    color: #FFF;
}
#icones {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
}
#icones div {
    width: 130px;
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}
.icon {
    border: solid 1px #666;
    border-radius: 15px;
}
#corpo {
    background-color: #FFF;
    opacity: 0.9;
}